EXT
publish/


*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.v2

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
net6.0/
msbuild.log
msbuild.err
msbuild.wrn
.vs

# Test results
TestResults/

# Resharper
_Resharper.Caches/
#Ignore thumbnails created by Windows
Thumbs.db
/src/QmServicesPoC/vcap_servicesContent
/src/QmServicesPoC/vcap_servicesContent.json
